src/net/cbtltd/rest/xsd/AccommodationsTripvillas.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Aug 06 2014 10:58:58 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="accommodations">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="accommodation" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="propertyID" type="xs:int"></xs:element>
                                             <xs:element name="headline" type="xs:string"></xs:element>
                                             <xs:element name="briefDescription" type="xs:string"></xs:element>
                                             <xs:element name="description" type="xs:string"></xs:element>
                                             <xs:element name="propertyType" type="xs:string"></xs:element>
                                             <xs:element name="subPropertyType" type="xs:string"></xs:element>
                                             <xs:element name="minimumStay" type="xs:int"></xs:element>
                                             <xs:element name="bathroomCount" type="xs:int"></xs:element>
                                             <xs:element name="onsiteFees" type="xs:string"></xs:element>
                                             <xs:element name="url" type="xs:string"></xs:element>
                                             <xs:element name="amenities">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="AmenityName" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="activities">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ActivityName" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="restrictions">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="RestrictionType" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="location">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="addressLine1" type="xs:string"></xs:element>
                                                                                 <xs:element name="city" type="xs:string"></xs:element>
                                                                                 <xs:element name="stateOrProvince" type="xs:string"></xs:element>
                                                                                 <xs:element name="country" type="xs:string"></xs:element>
                                                                                 <xs:element name="postalCode" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="geoCode">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="latitude" type="xs:double"></xs:element>
                                                                                 <xs:element name="longitude" type="xs:double"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="images">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="image" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="title" type="xs:string"></xs:element>
                                                                                 <xs:element name="uri" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="rooms">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="room" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="roomID" type="xs:string"></xs:element>
                                                                                 <xs:element name="amenities">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="amenity">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="count" type="xs:int"></xs:element>
                                                                                                                     <xs:element name="bedroomFeatureName" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="spaceForExraBed" type="xs:string"></xs:element>
                                                                                                   <xs:element name="attachedBath" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="name" type="xs:string"></xs:element>
                                                                                 <xs:element name="maxSleep" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>