src/net/cbtltd/rest/xsd/VacanciesTripvillas.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Aug 06 2014 17:24:58 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="vacancies">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="vacancy" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="propertyID" type="xs:int"></xs:element>
                                             <xs:element name="propertyType" type="xs:string"></xs:element>
                                             <xs:element name="startday" type="xs:date"></xs:element>
                                             <xs:element name="rooms">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="roomID" type="xs:string" maxOccurs="unbounded"></xs:element>
                                                               <xs:element name="availability" type="xs:string" maxOccurs="unbounded"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>