src/resources/wsdl/barefoottest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.barefoot.com/Services/" xmlns:s1="http://www.barefoot.com/Services/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.barefoot.com/Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.barefoot.com/Services/">
      <s:element name="GetPropertyRatesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barefootAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyRatesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyRatesXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barefootAccount" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="partneridx" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
      <s:element name="PropertyMinimumDay" nillable="true" type="tns:PropertyMinimumDay" />
    </s:schema>
    <s:schema targetNamespace="http://www.barefoot.com/Services/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPropertySoapIn">
    <wsdl:part name="parameters" element="tns:GetProperty" />
  </wsdl:message>
  <wsdl:message name="GetPropertySoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyResponse" />
  </wsdl:message>
  <wsdl:portType name="BookingAccess3Soap">
    <wsdl:operation name="GetProperty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method description: Retrieve full property info for all properties</wsdl:documentation>
      <wsdl:input message="tns:GetPropertySoapIn" />
      <wsdl:output message="tns:GetPropertySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingAccess3Soap" type="tns:BookingAccess3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProperty">
      <soap:operation soapAction="http://www.barefoot.com/Services/GetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingAccess3">
    <wsdl:port name="BookingAccess3Soap" binding="tns:BookingAccess3Soap">
      <soap:address location="http://agent.barefoot.com/BarefootWebService/BookingAccess3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>