src/resources/wsdl/rtrdocs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="rtrdocs" targetNamespace="net.cbtltd.rest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Attributes.xsd"/>
	<xs:element name="RTRProperties">
		<xs:annotation>
			<xs:documentation>Version Attribute must be set to 3.0 in order to use this version of the schema</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Property">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" ref="PropertyManager"/>
							<xs:element minOccurs="0" ref="PropertyDetails"/>
							<xs:element minOccurs="0" name="AvailabilityInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="Availability">
											<xs:annotation>
												<xs:documentation>Set the attribute status to Availabile or Unavailable, and the checkin dates and checkout dates to the dates in which the property is available or unavailable.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Status" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Available"/>
															<xs:enumeration value="Unavailable"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute ref="CheckInDate" use="required"/>
												<xs:attribute ref="CheckOutDate" use="required"/>
												<xs:attribute name="AverageRate" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="MinimumRate" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="MaximumRate" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="RateInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="Rate">
											<xs:complexType>
												<xs:attribute name="Description" type="xs:string" use="optional"/>
												<xs:attribute name="Rules" type="xs:string" use="optional"/>
												<xs:attribute name="Rate" use="required">
													<xs:annotation>
														<xs:documentation>The rate quoted for the mimimum stay</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute ref="CheckInDate" use="required"/>
												<xs:attribute ref="CheckOutDate" use="required"/>
												<xs:attribute name="MinimumStay" type="xs:integer" use="optional"/>
												<xs:attribute name="DailyRate" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="CheckInDay" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation>Bit Setting:
1 = Sunday
2 = Monday
4 = Tuesday
8 = Wednesday
16 = Thursday
32 = Friday
64 = Saturday
127 = Any Day
</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" ref="Lease"/>
						</xs:sequence>
						<xs:attribute name="ReferenceID" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Internal RTR Reference ID.  This is a Unique number generated by RTR and should be included when updating property information.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PropertyID" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Internal RTR property ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ExternalReferenceID" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>External Reference ID.  Required when adding a property via the xml feed.  The system will generate a PID and BID and associate the information with this referenceID.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PropertyManagerID" type="xs:integer" use="optional"/>
						<xs:attribute name="PropertyManagerName" type="xs:string" use="optional"/>
						<xs:attribute name="Status" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>If importing or updating a property record the status of the action will be returned.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:decimal" use="required"/>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional"/>
			<xs:attribute name="TimeStamp" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
</wsdl:definitions>
