src/net/cbtltd/rest/atraveo/xsd/feedsupply.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Facilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Facility" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Country"/>
              <xs:element type="xs:string" name="Region"/>
              <xs:element type="xs:string" name="Subregion"/>
              <xs:element type="xs:string" name="City"/>
              <xs:element name="CityPosition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="Latitude"/>
                    <xs:element type="xs:float" name="Longitude"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="District"/>
              <xs:element name="Descriptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Language" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Objects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Object" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="Type"/>
                          <xs:element type="xs:byte" name="Persons"/>
                          <xs:element type="xs:byte" name="Children"/>
                          <xs:element type="xs:byte" name="Pets"/>
                          <xs:element type="xs:byte" name="Rooms"/>
                          <xs:element type="xs:byte" name="Bedrooms"/>
                          <xs:element type="xs:byte" name="Bathrooms"/>
                          <xs:element type="xs:byte" name="Size"/>
                          <xs:element type="xs:byte" name="Stars"/>
                          <xs:element type="xs:string" name="ArrivalDays"/>
                          <xs:element type="xs:byte" name="MinOccupancy"/>
                          <xs:element type="xs:byte" name="MinStay"/>
                          <xs:element name="Descriptions">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Description" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Language" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AddInfos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AddInfo" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Language" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Position">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Street"/>
                                <xs:element type="xs:short" name="ZipCode"/>
                                <xs:element type="xs:string" name="City"/>
                                <xs:element type="xs:float" name="Longitude"/>
                                <xs:element type="xs:float" name="Latitude"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Features">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Feature" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="Value"/>
                                      <xs:element name="Details">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Detail" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Language" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Code" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Pictures">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Picture" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="URL"/>
                                      <xs:element name="Descriptions">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Description" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Language" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="DirectLink"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>