src/net/cbtltd/rest/atraveo/xsd/feedpricesupply.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Facilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Facility" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Vacancy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:date" name="StartDate"/>
                    <xs:element type="xs:string" name="Vacancy"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Objects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Object" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Vacancy">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:date" name="StartDate"/>
                                <xs:element type="xs:string" name="Vacancy"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Prices">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Price" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="Price"/>
                                      <xs:element type="xs:float" name="AddPersonPrice"/>
                                      <xs:element type="xs:byte" name="PerPerson"/>
                                      <xs:element type="xs:float" name="Reduction2ndWeek"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Type" use="optional"/>
                                    <xs:attribute type="xs:date" name="DateFrom" use="optional"/>
                                    <xs:attribute type="xs:date" name="DateTo" use="optional"/>
                                    <xs:attribute type="xs:byte" name="Persons" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SpecialPeriods">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SpecialPeriod" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="Price"/>
                                      <xs:element type="xs:byte" name="PerPerson"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:date" name="DateFrom" use="optional"/>
                                    <xs:attribute type="xs:date" name="DateTo" use="optional"/>
                                    <xs:attribute type="xs:byte" name="Persons" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SpecialOffers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SpecialOffer" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:date" name="DateFrom"/>
                                      <xs:element type="xs:date" name="DateTo"/>
                                      <xs:element type="xs:byte" name="FromDays"/>
                                      <xs:element type="xs:byte" name="ToDays"/>
                                      <xs:element type="xs:byte" name="xDays"/>
                                      <xs:element type="xs:byte" name="yDays"/>
                                      <xs:element type="xs:string" name="DurationType"/>
                                      <xs:element type="xs:byte" name="MinStay"/>
                                      <xs:element type="xs:byte" name="MaxStay"/>
                                      <xs:element type="xs:byte" name="PerPerson"/>
                                      <xs:element type="xs:float" name="Price"/>
                                      <xs:element type="xs:float" name="Discount"/>
                                      <xs:element type="xs:byte" name="Percent"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Type" use="optional"/>
                                    <xs:attribute type="xs:date" name="ValidFrom" use="optional"/>
                                    <xs:attribute type="xs:string" name="ValidTo" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ObjInfos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ObjInfo" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="ArrivalDays"/>
                                      <xs:element type="xs:byte" name="MinOccupancy"/>
                                      <xs:element type="xs:byte" name="MinStay"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:date" name="DateFrom" use="optional"/>
                                    <xs:attribute type="xs:date" name="DateTo" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SideCosts">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SideCost" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Currency"/>
                                      <xs:element type="xs:float" name="Cost"/>
                                      <xs:element type="xs:string" name="Unit"/>
                                      <xs:element type="xs:string" name="IntervalType"/>
                                      <xs:element type="xs:byte" name="MandatoryCode"/>
                                      <xs:element type="xs:byte" name="Location"/>
                                      <xs:element type="xs:byte" name="Order"/>
                                      <xs:element name="CostInfos">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CostInfo" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="Language" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Code" use="optional"/>
                                    <xs:attribute type="xs:date" name="ValidFrom" use="optional"/>
                                    <xs:attribute type="xs:date" name="ValidTo" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>