src/net/cbtltd/rest/atraveo/xsd/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:date" name="StartDate"/>
        <xs:element type="xs:string" name="Vacancy"/>
        <xs:element type="xs:float" name="Price"/>
        <xs:element type="xs:string" name="OrderID"/>
        <xs:element type="xs:float" name="TotalPrice"/>
        <xs:element type="xs:int" name="ErrNo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>