src/net/cbtltd/rest/homeaway/escapianet/datafeed/wsdl/EVRNContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="EVRNContentService" targetNamespace="http://www.escapia.com/EVRN/2007/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.escapia.com/EVRN/2007/02" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
	<wsp:Policy wsu:Id="BasicHttpBinding_IEVRNContentService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.escapia.com/EVRN/2007/02/Imports">
			<xsd:import schemaLocation="https://api.escapia.com/wsdl/EVRNService.xsd" namespace="http://www.escapia.com/EVRN/2007/02"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UnitDescriptiveInfoRequest">
		<wsdl:part name="EVRN_UnitDescriptiveInfoRQ" element="tns:EVRN_UnitDescriptiveInfoRQ"/>
	</wsdl:message>
	<wsdl:message name="UnitDescriptiveInfoStreamResponse">
		<wsdl:part name="UnitDescriptiveInfoStream" element="tns:UnitDescriptiveInfoStream"/>
	</wsdl:message>
  <wsdl:message name="UnitCalendarAvailBatchRequest">
    <wsdl:part name="EVRN_UnitCalendarAvailBatchRQ" element="tns:EVRN_UnitCalendarAvailBatchRQ"/>
  </wsdl:message>
  <wsdl:message name="UnitCalendarAvailBatchStreamResponse">
    <wsdl:part name="EVRN_UnitCalendarAvailBatchRS" element="tns:EVRN_UnitCalendarAvailBatchRS"/>
  </wsdl:message>
  <wsdl:portType name="IEVRNContentService">
		<wsdl:operation name="UnitDescriptiveInfoStream">
			<wsdl:input wsaw:Action="UnitDescriptiveInfo" name="UnitDescriptiveInfoRequest" message="tns:UnitDescriptiveInfoRequest"/>
			<wsdl:output wsaw:Action="http://www.escapia.com/EVRN/2007/02/IEVRNContentService/UnitDescriptiveInfoStreamResponse" name="UnitDescriptiveInfoStreamResponse" message="tns:UnitDescriptiveInfoStreamResponse"/>
		</wsdl:operation>
    <wsdl:operation name="UnitCalendarAvailBatch">
      <wsdl:input wsaw:Action="UnitCalendarAvailBatch" name="UnitCalendarAvailBatchRequest" message="tns:UnitCalendarAvailBatchRequest"/>
      <wsdl:output wsaw:Action="http://www.escapia.com/EVRN/2007/02/IEVRNContentService/UnitCalendarAvailBatchResponse" name="UnitCalendarAvailBatchStreamResponse" message="tns:UnitCalendarAvailBatchStreamResponse"/>
    </wsdl:operation>
  </wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IEVRNContentService" type="tns:IEVRNContentService">
		<wsp:PolicyReference URI="#BasicHttpBinding_IEVRNContentService_policy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="UnitDescriptiveInfoStream">
			<soap:operation soapAction="UnitDescriptiveInfo" style="document"/>
			<wsdl:input name="UnitDescriptiveInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UnitDescriptiveInfoStreamResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
    <wsdl:operation name="UnitCalendarAvailBatch">
      <soap:operation soapAction="UnitCalendarAvailBatch" style="document"/>
      <wsdl:input name="UnitCalendarAvailBatchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UnitCalendarAvailBatchStreamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
	<wsdl:service name="EVRNContentService">
		<wsdl:port name="BasicHttpBinding_IEVRNContentService" binding="tns:BasicHttpBinding_IEVRNContentService">
			<soap:address location="https://api.escapia.com/EVRNContentService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
