src/net/cbtltd/rest/hotelscombined/rates/xsd/OTA_HotelRateAmountNotifRQ_hotelscombined.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OTA_HotelRateAmountNotifRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RateAmountMessages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RateAmountMessage" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatusApplicationControl">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:date" name="Start" use="optional"/>
                            <xs:attribute type="xs:date" name="End" use="optional"/>
                            <xs:attribute type="xs:byte" name="RatePlanCode" use="optional"/>
                            <xs:attribute type="xs:byte" name="InvTypeCode" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Rates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Rate" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BaseByGuestAmts">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BaseByGuestAmt">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="AgeQualifyingCode" use="optional"/>
                                              <xs:attribute type="xs:float" name="AmountAfterTax" use="optional"/>
                                              <xs:attribute type="xs:byte" name="NumberOfGuests" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="HotelCode"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:dateTime" name="TimeStamp"/>
      <xs:attribute type="xs:string" name="EchoToken"/>
      <xs:attribute type="xs:float" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>