src/net/cbtltd/rest/hotelscombined/reservation/xsd/OTA_HotelResNotifRS_hotelscombined.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OTA_HotelResNotifRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Success"/>
        <xs:element name="Errors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Error" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Type" use="optional"/>
                      <xs:attribute type="xs:string" name="Code" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:dateTime" name="TimeStamp"/>
      <xs:attribute type="xs:string" name="EchoToken"/>
      <xs:attribute type="xs:string" name="Target"/>
    </xs:complexType>
  </xs:element>
</xs:schema>